# macOS
.DS_Store

# Xcode
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserdatad/

# Node / Scratch
scratch/

SafariExtension/RightClickRestore/Shared (Extension)/Resources/
node_modules/
